{% extends "/tables/menuTable.html" %}

{% block right%}
<div class="container mt-5">
  <h2>Inserisci film</h2>
  <form action="/insertMovie" method="POST">

    <div class="form-group mt-2">
      <label>Titolo</label>
      <input type="text" class="form-control" placeholder="Inserisci titolo" name="title">
    </div>

    <div class="form-group mt-2">
      <label>Età minima</label>
      <input type="number" class="form-control"  placeholder="Inserisci età" name="age">
    </div>

    <div class="form-group mt-2">
      <label>Durata in minuti</label>
      <input type="number" class="form-control"  placeholder="Inserisci durata" name="duration">
    </div>

    <div class="form-group mt-2">
      <label>Genere</label>
      <select class="custom-select" name="genre">
        <option selected>Seleziona...</option>
        {% for genre in result%}
          <option value= {{ genre['id'] }} >{{ genre['description'] }}</option>
        {% endfor %}
      </select>
    </div>    

    <button type="submit" class="btn btn-primary pr-4 pl-4 pt-2 pb-2">Invia</button>
  </form>
</div>

{% endblock %}