{% extends '/user/shared/layout.html' %}

{%block body%}

<div class="container mt-5" style="text-align:center">
  <h2>Film in visione</h2>
  <form action="/choiceMovie" method="POST">
      <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">Scegli</th>
            <th scope="col">Inizio visione</th>
            <th scope="col">Titolo</th>
            <th scope="col">Genere</th>
            <th scope="col">Durata</th>
            <th scope="col">Età minima</th>
            <th scope="col">Sala</th>
            <th scope="col">Prezzo biglietto</th>
          </tr>
      </thead>
      <tbody> 
        {% for movie  in result %}
            <tr>
              {% if current_user.is_anonymous %}
                <td style="text-align:center"><a href="/loginClient" title="Login">X</a></td>
              {% else %}
                <td style="text-align:center"><input type="radio" name="choice" class="btn btn-primary" value="{{ movie.0 }}"/></td><!--Mi torna id dello spettacolo-->
              {% endif %}
                <td>{{ movie['dateTime'] }}</td>
                <td>{{ movie['title'] }}</td>
                <td>{{ movie['description'] }}</td>
                <td>{{ movie['duration'] }}</td>
                {% if movie['minimumAge'] == 0%}
                  <td>Non richiesta</td>
                {% else %}
                <td>{{ movie['minimumAge'] }}</td>
                {% endif %}
                <td>{{ movie['theater'] }}</td>
                <td>{{ movie['price'] }}</td> 
            </tr>
        {% endfor %}
    </tbody>
</table>
<button type="submit" class="btn btn-primary">Seleziona</button>
</form>
</div>

{% endblock %}