{% extends '/user/shared/layout.html' %}

{%block body%}


<div class="container mt-5">
  <h2>Prenotazione</h2>
  <form action="/completeBooking/{{idmovieSchedule}}/{{listOfBooking}}" method="POST">
    {% for x in listOfBooking %}
        <hr>
        <div class="form-group mt-2">    
            <p><h4>Posto numero {{x}}</h4></p>
            {% if loop.index0 == 0 %}
                <td><input type="checkbox" name="autoCompile" value="true"/>Utilizzare i propri dati utente</td>
            {% endif %}
            <div class="form-group mt-2">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Inserire nome" name="viewer[{{ loop.index0 }}]">
            </div>

            <div class="form-group mt-2">
                <label>Age</label>
                <input type="number" class="form-control" placeholder="Inserire età" name="viewerAge[{{ loop.index0 }}]">
            </div>
        </div>
    {% endfor %}
    <hr>
    <div class="form-group mt-2" style="text-align:center">
        <h3><label>Prezzo totale : {{price}} €</label></h3>
        
        <p><p><button type="submit" class="btn btn-primary">Prenota</button></p></p>
        
    </div>
    </form>
</div>

{% endblock %}