{% extends '/manager/shared/layout.html' %}

{%block body%}

<div class="container mt-5" style="text-align:center">
  <h2>Prenotazioni</h2>
  <form action="/verifyMovie" method="POST">
      <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">Scegli</th>
            <th scope="col">Inizio visione</th>
            <th scope="col">Titolo</th>
            <th scope="col">Genere</th>
            <th scope="col">Durata</th>
            <th scope="col">Età minima</th>
            <th scope="col">Sala</th>
            <th scope="col">Prezzo biglietto</th>
            <th scope="col">Occupazione sala</th>
          </tr>
      </thead>
      <tbody> 
        {% for movie  in result %}
            <tr>
                <td style="text-align:center"><input type="radio" name="choice" class="btn btn-primary" value="{{ movie['id'] }}"/></td><!--Mi torna id dello spettacolo-->
                <td>{{ movie['dateTime'] }}</td>
                <td>{{ movie['title'] }}</td>
                <td>{{ movie['description'] }}</td>
                <td>{{ movie['duration'] }}</td>
                <td>{{ movie['minimumAge'] }}</td>
                <td>{{ movie['theater'] }}</td>
                <td>{{ movie['price'] }}</td> 
                <td>{{ movie['count'] }}/{{ movie['seatsCapacity'] }}</td> 
            </tr>
        {% endfor %}
    </tbody>
</table>
<button type="submit" class="btn btn-primary">Seleziona</button>
</form>
</div>

{% endblock %}