{% extends "/tables/menuTable.html" %}

{% block right%}
<div class="container mt-5">
  <h2>Rimuovi sala</h2>
  <form action="/removeTheater" method="POST">

    <div class="form-group mt-2">
      <label>Sala</label>
      <select class="custom-select" name="id">
        <option selected>Seleziona...</option>
        {% for theater in result%}
          <option value= {{ theater['id'] }} >id[{{ theater['id']}}] posti[{{ theater['seatsCapacity']}}]</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Invia</button>
  </form>
</div>

{% endblock %}