{% extends "/manager/statistiche/statistiche1.html" %}

{% block right%}
<div class="container mt-5">
    <h2>Seleziona la sala ed il film per sapere il numero di prenotazioni associati ad essi avvenute nell'ultimo periodo </h2>
    <form action="/occupazioneSalaPerFilm" method="POST">
        <div class="form-group mt-2">
            <label>Seleziona la sala</label>
            <select class="custom-select" name="sale">
              <option selected>Seleziona...</option>
              {% for x in theaters%}
                <option value= {{ x['id'] }} >{{ x['id'] }}</option>
              {% endfor %}
            </select>
          </div>    
         
          <div class="form-group mt-2">
            <label>Seleziona il titolo del film </label>
            <select class="custom-select" name="film">
              <option selected>Seleziona...</option>
              {% for x in movies%}
                <option value= {{x['id']}} >{{ x['title'] }}</option>
              {% endfor %}
            </select>
          </div>   
      
          <button type="submit" class="btn btn-primary">Invia</button>
        </form>
      </div>
    
{% endblock %}