{% extends "/manager/statistiche/statistiche1.html" %}

{% block right%}
<d>
    <div class="container mt-5" style="text-align:center">
        <h2>Film con percentuale di occupazione superiore o uguale a {{perc}}%</h2>
            <table class="table mt-4">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Titolo</th>
                </tr>
            </thead>
            <tbody> 
              {% for mov  in movie %}
                  <tr>
                      <td>{{ mov['id'] }}</td>
                      <td>{{ mov['title'] }}</td> 
                  </tr>
              {% endfor %}
          </tbody>
      </table>
      </form>
      </div>
</d>
{% endblock %}