{% extends "layout.html" %}
{% block body %}


<div class="container mt-5" align="center">
    <h1>Sala {{ infoTheater['id']}}</h1>
    <form action="/book/{{idmovieSchedule}}" method="POST">
        <p>
        <table>
            <tr>
        {% for i in range(infoTheater['seatsCapacity']) %}
            {% if (i + 1) in seatsOccuped %}
                    <td width="5%">XX<input type="checkbox" name="seat[{{i}}]" disabled="disabled"/></td>
            {% else %}   
                {% if (i + 1) < 10 %}
                    <td width="5%">0{{ i + 1 }}<input type="checkbox" name="seat[{{i}}]" value="1"/></td>
                {% else %}
                    <td width="5%">{{ i + 1 }}<input type="checkbox" name="seat[{{i}}]" value="1"/></td>
                {% endif %}
            {% endif %}
            {% if (i + 1) == infoTheater['seatsCapacity'] %}
                </tr>   
            {% elif (i + 1) % 10 == 0 %}
                </tr>
                <tr>
            {% endif %}
        {% endfor %}
        </table>
        <br>
        <button type="submit" class="btn btn-primary">Conferma</button>
        </p>
    </form>
</div>

{% endblock %}