<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prima App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mt-3 mb-3" href="/"><b>Il Molo</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto ml-5">
        {% if current_user.is_anonymous %}
        <li class="nav-item active">
          <a class="nav-link" href="/signIn">Registrati <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="/loginClient">Login</a>
        </li>
        {% else %}
        <li class="nav-item ml-3">
          <a class="nav-link" href="/registred">Iscritti</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="/account_info">Account_info</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="/updatecredit1">Up_grade_credito</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="/unsubscribed">Disinscriviti</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
      {% if errors %}
      <div class="alert alert-danger h-100" role="alert">
        <ul>
          {%- for msg in errors %}
          <li>{{ msg }}</li>
          {% endfor -%}
        </ul>
      </div>
      {% endif %}
    {% endwith %}
    {% with info = get_flashed_messages(category_filter=["info"]) %}
      {% if info %}
      <div class="alert alert-success" role="alert">
        <ul>
          {%- for msg in info %}
          <li>{{ msg }}</li>
          {% endfor -%}
        </ul>
      </div>
      {% endif %}
    {% endwith %}
    
    
    {% block body%} {% endblock%}
</body>
</html>
