{% extends "layout.html" %}

{% block body%}

<div class="container mt-5">
    <h2>Elenco Film</h2>
        <table class="table mt-4">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Id</th>
                  <th scope="col">User</th>
                  <th scope="col">Email</th>
                  <th scope="col">Password</th>
                </tr>
            </thead>

            <tbody>
                {% for movie  in result %}
                    <tr>
                        <th scope="row">{{ loop.index0 + 1 }}</th>
                        <td>{{ stu['id'] }}</td>
                        <td>{{ stu['name'] }}</td>
                        <td>{{ stu['email'] }}</td>
                        <td>{{ stu['password'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>

{% endblock %}