{% extends "layout.html" %}

{% block body%}
    <div class="container-md mt-5">
        <h2>Elenco sale</h2>

        <table class="table mt-3">
            <thead>
                <tr>
                  <th scope="col">Sala</th>
                  <th scope="col">Capienza</th>
                </tr>
            </thead>

            <tbody>
                {% for theater  in result %}
                    <tr>
                        <td>{{ theater['id'] }}</td>
                        <td>{{ theater['seatsCapacity'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}