{% extends "layout.html" %}

{% block body%}
<div class="container mt-5">
    <h2>Film in programmazione</h2>

        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Inizio Visione</th>
                    <th scope="col">Titolo</th>
                    <th scope="col">Genere</th>
                    <th scope="col">Durata</th>
                    <th scope="col">Età minima</th>
                    <th scope="col">Prezzo bigletto</th>
                </tr>
            </thead>

            <tbody>
                {% for movie  in result %}
                    <tr>
                        <td>{{ movie['dateTime']}}</td>
                        <td>{{ movie['title'] }}</td>
                        <td>{{ movie['description'] }}</td>
                        <td>{{ movie['duration'] }}</td>
                        <td>{{ movie['minimumAge'] }}</td>
                        <td>{{ movie['price'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>


{% endblock %}