{% extends "layout.html" %}

{% block body%}

        <table class="table">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Studente</th>
                  <th scope="col">Email</th>
                  <th scope="col">Password</th>
                </tr>
            </thead>

            <tbody>
                {% for stu  in students %}
                    <tr>
                        <th scope="row">{{ loop.index0 + 1 }}</th>
                        <td>{{ stu['name'] }}</td>
                        <td>{{ stu['email'] }}</td>
                        <td>{{ stu['password'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


{% endblock %}