{% extends "menuTable.html" %}

{% block right%}
<div class="container mt-5">
  <h2>Rimuovi film</h2>
  <form action="/removeMovie" method="POST">

    <div class="form-group mt-2">
      <label>Film</label>
      <select class="custom-select" name="id">
        <option selected>Seleziona...</option>
        {% for movie in result%}
          <option value= {{ movie['id'] }} >id[ {{ movie['id']}} ] titolo[{{ movie['title']}}]</option>
        {% endfor %}
      </select>
    </div>    

    <div class="form-group mt-2">
      <label>Opzioni cancellazione</label>
      <select class="custom-select" name="option">
        <option selected>Seleziona...</option>
          <option value="1" >
            NON cancellare se ci sono spettacoli collegati a questo film
          </option>
          <option value="2" >
            NON cancellare se ci sono spettacoli programmati  per questo film in FUTURO
          </option>
          <option value="3" >
            Cancella comunque
          </option>
      </select>
    </div>






    <button type="submit" class="btn btn-primary">Invia</button>
  </form>
</div>

{% endblock %}