{% extends "menuTable.html" %}

{% block right%}
<div class="container mt-5">
  <h2>Rimuovi genere cinematografico</h2>
  <form action="/removeGenre" method="POST">

    <div class="form-group mt-2">
      <label>Genere</label>
      <select class="custom-select" name="genre">
        <option selected>Seleziona...</option>
        {% for genre in result%}
          <option value= {{ genre['id'] }} >{{ genre['description']}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group mt-2">
      <label>Opzioni cancellazione</label>
      <select class="custom-select" name="option">
        <option selected>Seleziona...</option>
          <option value="1" >
            Cancella se non ci sono film collegati a questo genere
          </option>
          <option value="2" >
            Cancella in tutti i casi
          </option>
      </select>
    </div>
    
    <button type="submit" class="btn btn-primary">Invia</button>
  </form>
</div>

{% endblock %}