{% extends "layout.html" %}

{% block body %}
<div class="container mt-5">
  <h2>Statistiche</h2>
  <form action="/statistiche" method="POST">

    <div class="form-group mt-2">
      <label>Seleziona il genere per sapere il numero di prenotazioni associate ad esso e l'eta' media degli spettatori</label>
      <select class="custom-select" name="genere">
        <option selected>Seleziona...</option>
        {% for x in genres%}
          <option value= {{ x['id'] }} >{{ x['description'] }}</option>
        {% endfor %}
      </select>
    </div>    

    <div class="form-group mt-2">
      <label>Seleziona la sala per sapere la capienza media per film </label>
      <select class="custom-select" name="sale">
        <option selected>Seleziona...</option>
        {% for x in theaters%}
          <option value= {{ x['id'] }} >{{ x['id'] }}</option>
        {% endfor %}
      </select>
    </div>    
   
    <div class="form-group mt-2">
      <label>film </label>
      <select class="custom-select" name="film">
        <option selected>Seleziona...</option>
        {% for x in movies%}
          <option value= {{ x['id'] }} >{{ x['title'] }}</option>
        {% endfor %}
      </select>
    </div>   

    <button type="submit" class="btn btn-primary">Invia</button>
  </form>
</div>

{% endblock %}